.item-icon-background {
    background: linear-gradient(to bottom right, #13aa52, #7be495);
    border-radius: 20px;
    padding: 0;

    .item-icon {
        font-size: 27px;
        color: white;
        width: 100%;
        text-align: center;
    }
}

.name-label {
    font-weight: bold;
    font-size: 14px;
}

.exp-date-label {
    color: gray;
}

.list-item {
    border: 1px solid #13aa52;
    background-color: white;
    padding: 10px 0;
    border-radius: 20px;
}


.listItemStackLayout {
    background-color: white;
    padding-left: 5;
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.expand-chevron {
    color: gray;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

.action-item {
    font-size: 20;
    color: white;
    opacity: 0.8;

    &.delete {
        background-color: #ff4343;
    }

    &.edit {
        background-color: #ffbb00;
    }

    &.buy {
        background-color: #2587ce;
    }
}