<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>

    <Label text="Food"></Label>

    <ActionItem icon="res://add" ios.position="right" [nsRouterLink]="['create']"></ActionItem>
</ActionBar>

<StackLayout *ngIf="isLoading" verticalAlignment="center" horizontalAlignment="center">
    <ActivityIndicator [busy]="true" color="#13aa52" width="100" height="100"></ActivityIndicator>
</StackLayout>

<GridLayout class="page__content" *ngIf="!isLoading" tkExampleTitle tkToggleNavButton>
    <Label class="page__content-icon fas" *ngIf=" !dataItems.length" text="&#xf5d1;"></Label>
    <Label class="page__content-placeholder" *ngIf=" !dataItems.length" text="No items found!"></Label>

    <RadListView #myListView *ngIf="dataItems.length" [items]="dataItems" row="1" selectionBehavior="None" margin="5 10"
        swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
        (itemSwipeProgressChanged)="onCellSwiping($event)" pullToRefresh="true"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">

        <ng-template tkListItemTemplate let-item="item">
            <FlexboxLayout flexDirection="row" (longPress)="navigateToDetails(item)"
                (tap)="item.isExpanded = !item.isExpanded">
                <GridLayout class="list-item" rows="auto, auto, auto" columns="70, *, 10" margin="5 0">
                    <StackLayout class="item-icon-background" row="0" rowSpan="2" col="0" height="50" width="50"
                        verticalAlignment="center" horizontalAlignment="center">
                        <Label class="item-icon fas" text="&#xf5d1;"></Label>
                    </StackLayout>

                    <GridLayout columns="*, auto" row="0" col="1">
                        <Label class="name-label" [text]="item.name"></Label>

                        <Label class="item-icon fas expand-chevron" col="1" *ngIf="item.description"
                            [text]=" item.isExpanded ? '&#xf077;':'&#xf078;'"></Label>
                    </GridLayout>

                    <GridLayout columns="2*, auto" row="1" col="1">
                        <Label col="0" [text]="item.amount"></Label>

                        <Label class="exp-date-label" col="1" [text]="item.expirationDate | date"></Label>
                    </GridLayout>

                    <StackLayout row="2" colSpan="3" *ngIf="item.description && item.isExpanded" #desc>
                        <Label [text]="item.description" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
            </FlexboxLayout>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto">
            <GridLayout columns="*" col="0" id="left-stack">
                <GridLayout class="action-item buy" (tap)="onSwipeActionClick($event)" id="btnBuy">
                    <Label class="action-icon fas " text="&#xf290;" verticalAlignment="center"
                        horizontalAlignment="center"></Label>
                </GridLayout>
            </GridLayout>

            <GridLayout columns="*, *" col="2" id="right-stack">
                <GridLayout col="0" class="action-item delete" (tap)="onSwipeActionClick($event)" id="btnDelete">
                    <Label class="action-icon fas" text="&#xf2ed;" verticalAlignment="center"
                        horizontalAlignment="center"></Label>
                </GridLayout>

                <GridLayout col="1" class="action-item edit" (tap)="onSwipeActionClick($event)" id="btnEdit">
                    <Label class="action-icon fas" verticalAlignment="center" horizontalAlignment="center"
                        text="&#xf044;"></Label>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </RadListView>
</GridLayout>