<ScrollView margin="10">
    <StackLayout class="form-content">
        <form [formGroup]="form">
            <Label class="name" [text]="data.name"></Label>
            
            <Label class="input-label" text="Amount"></Label>
            <TextField formControlName="amount" returnKeyType="next"></TextField>

            <Label class="input-label" text="Description"></Label>
            <TextView formControlName="description" [autocorrect]="true"></TextView>

            <GridLayout heigth="20" columns="auto, *">
                <Label col="0" class="input-label" text="Has expiration" verticalAlignment="center"></Label>
                <Switch col="1" formControlName="hasExpiration" color="#13aa52" backgroundColor="green"
                    offBackgroundColor="gray">
                </Switch>
            </GridLayout>

            <StackLayout *ngIf="form.controls.hasExpiration.value">
                <Label class="input-label" text="Expiration"></Label>
                <DatePicker formControlName="expiration" verticalAlignment="center"></DatePicker>
            </StackLayout>
        </form>

        <Button text="Complete" [isEnabled]="form && form.valid" (tap)="complete()" class="btn btn-primary m-t-20"
            margin="5"></Button>
    </StackLayout>
</ScrollView>