<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Food"></Label>
</ActionBar>

<StackLayout *ngIf="isLoading" verticalAlignment="center" horizontalAlignment="center">
    <ActivityIndicator [busy]="true" color="#13aa52" width="100" height="100"></ActivityIndicator>
</StackLayout>

<GridLayout class="page__content" *ngIf="!isLoading">
    <RadListView [items]="dataItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
        <ng-template tkListItemTemplate let-item="item">
            <FlexboxLayout flexDirection="row">
                <GridLayout class="list-item" rows="auto, auto" columns="70, *, 10" margin="4 15">
                    <StackLayout class="item-icon-background" row="0" rowSpan="2" col="0" height="50" width="50"
                        verticalAlignment="center" horizontalAlignment="center">
                        <Label class="item-icon fas" text="&#xf5d1;"></Label>
                    </StackLayout>

                    <Label class="name-label" row="0" col="1" [text]="item.name"></Label>

                    <GridLayout columns="2*, auto" row="1" col="1">
                        <Label col="0" [text]="item.amount"></Label>
                        
                        <Label class="exp-date-label" col="1" [text]="item.expirationDate | date"></Label>
                    </GridLayout>
                </GridLayout>
            </FlexboxLayout>
        </ng-template>
    </RadListView>
</GridLayout>